{% extends "base.html" %}

{% block content %}

<h1 id="tothetop">Home</h1>
<br>

<body>
  <div class="squad">
    <img src="{{url_for('static', filename ='img/squad.png')}}" alt="Apex" style="object-fit: cover;
  width: 40%;
  height: auto;
  border-radius: 0px;
  background-color: #212329" />
    <div class="squad-text">
      <p class="p1">Apex Legends</p>
      <p>Apex Legends is an online multiplayer battle royale game featuring squads of three players using pre-made
        characters with distinctive abilities, called "Legends".</p>
      <div class="link"><a href="legends"> Click here to: Meet the Legends</a></div>
      <br>
      <p>It is set a few years after the end of the Frontier War, the conflict featured heavily in both Titanfall 1 and
        2. The Frontier War is over. After decades of conflict between the IMC and the militia founded to fight them,
        the region of space known as the Frontier can finally see peace.
        But liberation can come at a cost: the Frontier worlds were left barren by the war, and promised aid dwindled to
        nothing. With no way to support themselves, those who remained had no choice but to leave their homes. The brave
        relocated to the Outlands.</p>
        <br>
        <p>
        A remote cluster of planets on the fringes of the Frontier, the Outlands are untouched by war and teeming with
        resources and opportunity. But life is cheap here, and danger lurks around every corner. Its pioneers,
        explorers, and outlaws used to spend their lives locked in an endless power struggle - now, they settle their
        differences in the Apex Games, a bloodsport where Legends from all corners of the Frontier compete for money,
        fame, and glory.</p>
    </div>
  </div>
  <div class="boddy">
    <img src="{{url_for('static', filename ='img/home/battle-royale.jpg')}}" alt="Apex" style="object-fit: cover;
    width: 100%;
    height: 38vh;
    background-color: #212329" />
    <p>Massive maps. 60-player matches. An ever-shrinking Ring. Will your squad win it all?</p>

    <a href="maps">Maps</a>
    <br>
    <br>
  </div>
  <div class="ring">
    <img src="{{url_for('static', filename ='img/home/reing2.webp')}}" alt="Apex" style="object-fit: cover;
    width: 50%;
    height: auto;
    border-radius: 0px;
    background-color: #212329" />
    <br>
    <br>
    <div class="ring-text">
      <h3>STAY INSIDE THE RING</h3>
      <br>
      <p>
        The Ring is always closing and you won't last long on the outside. As the Ring gets smaller, you'll be forced
        into more encounters with the remaining squads. So make sure you have the right loadout to take them on.</p>
    </div>
  </div>
  <div>
    <div class="ring">
      <img src="{{url_for('static', filename ='img/home/loot.jpg')}}" alt="Apex" style="object-fit: cover;
    width: 50%;
    height: auto;
    border-radius: 0px;
    background-color: #212329" />
      <div class="ring-text">
        <h3>GET YOUR LOOT ON</h3>
        <br>
        <p>
          You'll drop in with basic gear. Explore the map -and Death Boxes of fallen foes- to find better equipment.
          If
          you're going to survive, you'll need it.</p>
      </div>
    </div>
    <div>
      <div class="ring">
        <img src="{{url_for('static', filename ='img/home/last.webp')}}" alt="Apex" style="object-fit: cover;
    width: 50%;
    height: auto;
    border-radius: 0px;
    background-color: #212329" />
        <div class="ring-text">
          <h3>LAST SQUAD STANDING</h3>
          <br>
          <p>
            Whether you're in Duos or Trios, the goal is the same: to be the last squad left alive. But death isn't
            always permanent - keep your squad in the fight with the help of Respawn Beacons.</p>
        </div>
      </div>
    </div>
    <br>
    <pre>
        <div class="tothetop">
            <a href="#tothetop">Back to the top</a></div>
    </pre>
</body>

{% endblock %}