{% extends "base.html" %}

{% block content %}

<body class="bod">


    <h1 id="tothetop">Legends of the outlands</h1>

    <br>
    <img src="{{url_for('static', filename ='img/wallpaper.jpg')}}" alt="Apex" style="object-fit: cover;
width: 100%;
height: auto;
background-color: darkgrey;" />
    <div class="images">
        <h2> Mirage </h2>
        <img src="{{url_for('static', filename ='img/mirage/mirage.png')}}" alt="Mirage" style="object-fit: cover;
    width: 225px;
    height: 225px;" /> <img src="{{url_for('static', filename ='img/mirage/tactical-mirage.png')}}" style="object-fit: cover;
    width: 80px;
    height: 80px;
    background-color: #212329" /> <img src="{{url_for('static', filename ='img/mirage/passive-mirage.png')}}" style="object-fit: cover;
    width: 80px;
    height: 80px;
    background-color: #212329" /> <img src="{{url_for('static', filename ='img/mirage/ultimate-mirage.png')}}" style="object-fit: cover;
    width: 80px;
    height: 80px;
    background-color: #212329" />
        <br>
        <br>
        <pre class="spec">
            Real Name:	        Elliott Witt
            Age:                30
            Home World:	        Solace
            Tactical Ability:	Psyche Out
            Passive Ability:	Now You See Me . . .
            Ultimate Ability:	Life of the Party
        </pre>
        <h4>Holographic Trickster</h4>
        <p class="para">
            Mirage is the kind of guy who likes to stand out. The youngest of four brothers, he perfected the art of
            fooling around to get attention. The one thing he took seriously was Holo-Pilot technology: introduced to
            the illusion-creating tech by his engineer mother, he poured over the mechanisms and learned all he could
            about them. Even when his brothers went MIA during the Frontier War, Mirage and his mother continued to
            develop holo devices, and the work brought them closer.</p>

        <br>
        <h2> Wraith </h2>
        <img src="{{url_for('static', filename ='img/wraith/wraith.png')}}" alt="Wraith" style="object-fit: cover;
    width: 225px;
    height: 225px;" /> <img src="{{url_for('static', filename ='img/wraith/tactical-wraith.png')}}" style="object-fit: cover;
    width: 80px;
    height: 80px;
    background-color: #212329" /> <img src="{{url_for('static', filename ='img/wraith/passive-wraith.png')}}" style="object-fit: cover;
    width: 80px;
    height: 80px;
    background-color: #212329" /> <img src="{{url_for('static', filename ='img/wraith/ultimate-wraith.png')}}" style="object-fit: cover;
    width: 80px;
    height: 80px;
    background-color: #212329" />
        <br>
        <br>
        <br>
        <pre class="spec">
            Real Name:	        Renee Blasey
            Age:                32
            Home World:	        Typhon
            Tactical Ability:	Into the Void
            Passive Ability:	Voices from the Void
            Ultimate Ability:	Dimensional Rift
        </pre>
        <h4>Interdimensional Skirmisher</h4> 
        <p class="para">
            Wraith is a whirlwind fighter, able to execute deadly attacks and manipulate spacetime by opening rifts in the fabric of reality — but those abilities came at a price. Years ago, she woke up in an IMC detention facility with no memory of who she was. Senior Science Pilot Renee Blasey, who volunteered as guinea pig for her own experiments... whose partner betrayed her and locked her away… no longer existed. All that was left was a timid girl, frightened by a cacophony of voices in her head, until another version of herself appeared and taught her to listen to the voices. Following her lead, Wraith found the strength to break free from her prison and escape into a different reality - this reality.</p>
        <br>
        <h2> Bangalore </h2>
        <img src="{{url_for('static', filename ='img/bangalore/Bangalore.jpg')}}" alt="Bangalore" style="object-fit: cover;
    width: 225px;
    height: 225px;" /> <img src="{{url_for('static', filename ='img/bangalore/tactical-bangalore.png')}}" style="object-fit: cover;
    width: 80px;
    height: 80px;
    background-color: #212329" /> <img src="{{url_for('static', filename ='img/bangalore/passive-bangalore.png')}}"
            style="object-fit: cover;
    width: 80px;
    height: 80px;
    background-color: #212329" /> <img src="{{url_for('static', filename ='img/bangalore/ultimate-bangalore.png')}}"
            style="object-fit: cover;
    width: 80px;
    height: 80px;
    background-color: #212329" />
        <br>
        <br>
        <br>
        <pre class="spec">
            Real Name:	        Anita Williams
            Age:                38
            Home Planet:        Gridiron
            Tactical Ability:	Smoke Launcher
            Passive Ability:	Double Time
            Ultimate Ability:	Rolling Thunder
        </pre>
        <h4>Professional Soldier</h4>
        <p class="para">
            Born into a military family where she, her parents, and her four older brothers all served with the IMC, Bangalore has been an exceptional soldier her whole life. Dedicated to the IMC cause, she was top of her class at the IMC Military Academy and the only cadet who could take apart a Peacekeeper, equip it with a Precision Choke hop-up, and put it back together in under twenty seconds – blindfolded.</p>
        <br>
        <h2> Horizon </h2>
        <img src="{{url_for('static', filename ='img/horizon/Horizon.jpg')}}" alt="Horizon" style="object-fit: cover;
    width: 225px;
    height: 225px;" /> <img src="{{url_for('static', filename ='img/horizon/tactical-horizon.png')}}" style="object-fit: cover;
    width: 80px;
    height: 80px;
    background-color: #212329" /> <img src="{{url_for('static', filename ='img/horizon/passive-horizon.png')}}" style="object-fit: cover;
    width: 80px;
    height: 80px;
    background-color: #212329" /> <img src="{{url_for('static', filename ='img/horizon/ultimate-horizon.png')}}" style="object-fit: cover;
    width: 80px;
    height: 80px;
    background-color: #212329" />
        <br>
        <br>
        <br>
        <pre class="spec">
            Real Name:          Dr. Mary Somers
            Age:                37 (Give or take an extra 88 years…)
            Home World:         Psamathe
            Tactical Ability	Gravity Lift
            Passive Ability:    Spacewalk
            Ultimate Ability:   Black Hole
        </pre>
        <h4>Gravitational Manipulator</h4>
        <p class="para">
            Almost a century ago, the Outlands were dangling on the edge of a cataclysmic energy crisis. Dr. Mary Somers, a charmingly eccentric astrophysicist, was hired to find a solution. Mary moved her family to the scientific research station on Olympus and set to work.
            With the help of her apprentice, Dr. Reid, Mary discovered Branthium - an element she was convinced could be the key to limitless energy. But Branthium can be found only on the accretion disk of a black hole, so Mary and Dr. Reid departed on a dangerous mission to prove her theory right.
            Mary promised her son Newton she'd return safe and sound. But Dr. Reid betrayed her, stealing the Branthium and sending her shuttle into the black hole's orbit. Using her wits, Mary modified her robotic vacuum companion N.E.W.T. to escape. But time moves differently on the outskirts of a black hole, and she was 87 years too late.
            Now Mary is determined to fund her research to find a way to go back in time and be with her son. She joins the Apex Games as Horizon, master of gravity, just in time for the next season to debut on Olympus--where her old life once was and where she had promised to return.</p>
        <br>
        <br>
        <br>
        <h2> Bloodhound </h2>
        <img src="{{url_for('static', filename ='img/bloodhound/bloodhound.png')}}" alt="Horizon" style="object-fit: cover;
        width: 225px;
        height: 225px;" /> <img src="{{url_for('static', filename ='img/bloodhound/tactical-bloodhound.png')}}" style="object-fit: cover;
        width: 80px;
        height: 80px;
        background-color: #212329" /> <img
            src="{{url_for('static', filename ='img/bloodhound/passive-bloodhound.png')}}" style="object-fit: cover;
        width: 80px;
        height: 80px;
        background-color: #212329" /> <img
            src="{{url_for('static', filename ='img/bloodhound/ultimate-bloodhound.png')}}" style="object-fit: cover;
        width: 80px;
        height: 80px;
        background-color: #212329" />
        <br>
        <br>
        <br>
        <pre class="spec">
            Real Name:          Unknown
            Age:                Unknown
            Home World:         Talos
            Tactical Ability:   Eye of the Allfather
            Passive Ability:    Tracker
            Ultimate Ability:   Beast of the Hunt
        </pre>
        <h4>Technological Tracker</h4>
        <p class="para">
            Bloodhound is known across the Outlands as one of the greatest game hunters the Frontier has ever seen. The child of two engineers stationed at the New Dawn industrial plant on Talos, Bloodhound was taken in by their uncle Artur after a meltdown destroyed the facility and killed both their parents. Artur taught them the Old Ways, a belief system that focuses on the glory of nature and rejects modern technology. Yet Bloodhound was constantly drawn to technological marvels, and ultimately used both new and old methods to take down a Goliath that preyed on the people of their village, forever changing their life's path.</p>
        <br>
        <br>
        <br>
    </div>
    <pre>

        <div class="tothetop">
            <a href="#tothetop">Back to top</a></div>
    </pre>
</body>
{% endblock %}