{% extends "base.html" %}

{% block content %}

<h1 id="tothetop">Weopons</h1>
<br>
<body>
    <div class="assualt">
        <h2>Assault Rifles</h2>
        <div class="rifle">
            <img src="{{url_for('static', filename ='img/weopons/assualt/havoc.webp')}}" alt="Havoc" style="object-fit: cover;
                width: 30%;
                height: auto;" />
            <p>havoc</p>
        </div>
        <div class="rifle">
            <img src="{{url_for('static', filename ='img/weopons/assualt/r301.webp')}}" alt="R301" style="object-fit: cover;
                width: 30%;
                height: auto;" />
            <p>R301 Carbine</p>
        </div>
        <div class="rifle">
            <img src="{{url_for('static', filename ='img/weopons/assualt/flatline.webp')}}" alt="Flatline" style="object-fit: cover;
                width: 30%;
                height: auto;" />
            <p>Flatline</p>
        </div>
        <div class="rifle">
            <img src="{{url_for('static', filename ='img/weopons/assualt/hemlock.webp')}}" alt="Hemlock" style="object-fit: cover;
                width: 30%;
                height: auto;" />
            <p>Hemlock</p>
        </div>
    </div>
    <br>
    <div class="assualt">
        <h2>Sub Machine Guns</h2>
        <div class="rifle">
            <img src="{{url_for('static', filename ='img/weopons/smg/r99.webp')}}" alt="R99" style="object-fit: cover;
                width: 30%;
                height: auto;" />
            <p>R99</p>
        </div>
        <div class="rifle">
            <img src="{{url_for('static', filename ='img/weopons/smg/volt.webp')}}" alt="Volt" style="object-fit: cover;
                width: 30%;
                height: auto;" />
            <p>R99</p>
        </div>
        <div class="rifle">
            <img src="{{url_for('static', filename ='img/weopons/smg/car.webp')}}" alt="Volt" style="object-fit: cover;
                width: 30%;
                height: auto;" />
            <p>C.A.R</p>
        </div>
        <div class="rifle">
            <img src="{{url_for('static', filename ='img/weopons/smg/alt.webp')}}" alt="Alternator" style="object-fit: cover;
                width: 30%;
                height: 12vh;" />
            <p>Alternator</p>
        </div>
    </div>
    <br>
    <div class="assualt">
        <h2>Light machine guns</h2>
        <div class="rifle">
            <img src="{{url_for('static', filename ='img/weopons/lmg/devotion.webp')}}" alt="Alternator" style="object-fit: cover;
                width: 30%;
                height: auto;" />
            <p>Devotion</p>
        </div>
        <div class="rifle">
            <img src="{{url_for('static', filename ='img/weopons/lmg/lstar.webp')}}" alt="Alternator" style="object-fit: cover;
                width: 30%;
                height: auto;" />
            <p>L - STAR</p>
        </div>
        <div class="rifle">
            <img src="{{url_for('static', filename ='img/weopons/lmg/spitfire.webp')}}" alt="Alternator" style="object-fit: cover;
                width: 30%;
                height: auto;" />
            <p>M600 Spitfire</p>
        </div>
        <div class="rifle">
            <img src="{{url_for('static', filename ='img/weopons/lmg/rampage.webp')}}" alt="Alternator" style="object-fit: cover;
                width: 30%;
                height: auto;" />
            <p>Rampage</p>
        </div>
    </div>
    <br>
    <div class="assualt">
        <h2>Marksman</h2>
        <div class="rifle">
            <img src="{{url_for('static', filename ='img/weopons/marks/g7.webp')}}" alt="Alternator" style="object-fit: cover;
                width: 30%;
                height: auto;" />
            <p>G7 Scout</p>
        </div>
        <div class="rifle">
            <img src="{{url_for('static', filename ='img/weopons/marks/3030.webp')}}" alt="Alternator" style="object-fit: cover;
                width: 30%;
                height: auto;" />
            <p>30 30 Repeater</p>
        </div>
        <div class="rifle">
            <img src="{{url_for('static', filename ='img/weopons/marks/tripple.webp')}}" alt="Alternator" style="object-fit: cover;
                width: 30%;
                height: auto;" />
            <p>Triple Take</p>
        </div>
        <div class="rifle">
            <img src="{{url_for('static', filename ='img/weopons/marks/bow.webp')}}" alt="Alternator" style="object-fit: cover;
                width: 30%;
                height: auto;" />
            <p>Bocek Compound Bow</p>
        </div>
    </div>
    <br>
    <div class="assualt">
        <h2>Sniper</h2>
        <div class="rifle">
            <img src="{{url_for('static', filename ='img/weopons/sniper/longbow.webp')}}" alt="Alternator" style="object-fit: cover;
                width: 30%;
                height: auto;" />
            <p>Longbow DMR</p>
        </div>
        <div class="rifle">
            <img src="{{url_for('static', filename ='img/weopons/sniper/kraber.webp')}}" alt="Alternator" style="object-fit: cover;
                width: 30%;
                height: auto;" />
            <p>Kraber .50 Cal</p>
        </div>
        <div class="rifle">
            <img src="{{url_for('static', filename ='img/weopons/sniper/sentinel.webp')}}" alt="Alternator" style="object-fit: cover;
                width: 30%;
                height: auto;" />
            <p>Sentinel</p>
        </div>
    </div>
    <br>
    <div class="assualt">
        <h2>Shotguns</h2>
        <div class="rifle">
            <img src="{{url_for('static', filename ='img/weopons/shotguns/eva.webp')}}" alt="Alternator" style="object-fit: cover;
                width: 30%;
                height: auto;" />
            <p>EVA - 8 Auto</p>
        </div>
        <div class="rifle">
            <img src="{{url_for('static', filename ='img/weopons/shotguns/mastiff.webp')}}" alt="Alternator" style="object-fit: cover;
                width: 30%;
                height: auto;" />
            <p>Mastiff</p>
        </div>
        <div class="rifle">
            <img src="{{url_for('static', filename ='img/weopons/shotguns/peacekeeper.webp')}}" alt="Alternator" style="object-fit: cover;
                width: 30%;
                height: auto;" />
            <p>Peacekeeper</p>
        </div>
    </div>
    <div class="assualt">
        <h2>Pistols</h2>
        <div class="rifle">
            <img src="{{url_for('static', filename ='img/weopons/pistols/re45.webp')}}" alt="Alternator" style="object-fit: cover;
            width: 30%;
            height: auto;" />
            <p>RE - 45 auto</p>
        </div>
        <div class="rifle">
            <img src="{{url_for('static', filename ='img/weopons/pistols/p2020.webp')}}" alt="Alternator" style="object-fit: cover;
            width: 30%;
            height: auto;" />
            <p>P2020</p>
        </div>
        <div class="rifle">
            <img src="{{url_for('static', filename ='img/weopons/pistols/wingman.webp')}}" alt="Alternator" style="object-fit: cover;
            width: 30%;
            height: auto;" />
            <p>Wingman</p>
        </div>
    </div>
    <pre>

        <div class="tothetop">
            <a href="#tothetop">Back to top</a></div>
            
</pre>
</body>
{% endblock %}