{% extends "base.html" %}

{% block content %}

<h1 id="tothetop">Weopons</h1>
<br>

<body>
    <div class="assualt">
        <h2>Assault Rifles</h2>
        <div class="rifle">
            <h5>Havoc</h5>
            <img src="{{url_for('static', filename ='img/weopons/assualt/havoc.webp')}}" alt="Havoc" style="object-fit: cover;
                width: 30%;
                height: auto;" />
            <br>
            <div class="text">
                <p>havoc is a fully-automatic assault rifle that utilizes Energy Ammo.svg Energy Ammo.
                    Every time the trigger is pressed, there is a spin-up delay before the weapon starts shooting. The
                    spin-up delay can be removed by equipping a Turbocharger Hop-Up.</p>
            </div>
            <pre>
            Type:               Assualt Riffle
            Fire Mode:          Auto
            Ammo Type:          Energy Ammo
            Manufacturer:       Siwhan Industries
                                Wonyeon
            Fire Rate:          672
            Damage per second:  202
            </pre>
        </div>
        <br>
        <div class="rifle">
            <h5>R301 Carbine</h5>
            <img src="{{url_for('static', filename ='img/weopons/assualt/r301.webp')}}" alt="R301" style="object-fit: cover;
                width: 30%;
                height: auto;" />
            <div class="text">
                <p>R-301, is an assault rifle that utilizes Light Rounds.svg Light Rounds. It can be switched between
                    fully-automatic and semi-automatic fire modes. the R-301 is the successor to the R-101 and R-201
                    rifles from the Frontier War. </p>
            </div>
            <pre>
            Type:               Assualt Riffle
            Fire Modes:         Auto
                                single
            Ammo Type:          Light Rounds
            Manufacturer:       Lastimosa Armory
            Fire Rate:          810
            Damage per second:  189
            </pre>
        </div>
        <div class="rifle">
            <h5>Flatline</h5>
            <img src="{{url_for('static', filename ='img/weopons/assualt/flatline.webp')}}" alt="Flatline" style="object-fit: cover;
                width: 30%;
                height: auto;" />
            <div class="text">
                <p>Flatline, is an assault rifle that utilizes Heavy Rounds. It can be switched between
                    fully-automatic and semi-automatic fire modes.The VK-47 Flatline is the successor to the Frontier
                    War-era V-47 Flatline, although the changes made to the weapon aside from a different grip and a
                    shorter exposed barrel are unknown.</p>
            </div>
            <pre>
            Type:               Assualt Riffle
            Fire Mode:          Auto
                                single
            Ammo Type:          Heavy Rounds
            Manufacturer:       Wonyeon
            Fire Rate:          600
            Damage per second:  180
            </pre>
        </div>
        <div class="rifle">
            <h5>Hemlock</h5>
            <img src="{{url_for('static', filename ='img/weopons/assualt/hemlock.webp')}}" alt="Hemlock" style="object-fit: cover;
                width: 30%;
                height: auto;" />
            <div class="text">
                <p>Hemlok, is an assault rifle that utilizes Heavy Rounds. It may be switched between a
                    3-shot burst and single fire modes. The Hemlok can be enhanced with the Boosted
                    Loader Hop-Up, which reduces the weapon's reload time if a reload is performed while the mag is
                    close to being fully depleted, and adds 6 rounds to the mag upon reloading.</p>
            </div>
            <pre>
            Type:               Assualt Riffle
            Fire Mode:          Burst
                                single
            Ammo Type:          Heavy Rounds
            Manufacturer:       Wonyeon
            Fire Rate:          414
                                384
            Damage per second:  138
                                128
            </pre>
        </div>
    </div>
    <br>

    <div class="assualt">
        <h2>Sub Machine Guns</h2>
        <div class="rifle">
            <h5>R99</h5>
            <img src="{{url_for('static', filename ='img/weopons/smg/r99.webp')}}" alt="R99" style="object-fit: cover;
                width: 30%;
                height: auto;" />
            <div class="text">
                <p>R-99, is a fully-automatic sub machine gun that utilizes Light Rounds. Originally
                    designated and manufactured by the Lastimosa Armory as the R-97CN A3, the R-99 SMG was intended for
                    use with the Frontier Colonial Navy, hence the "CN" classification. Chambered in the quite old
                    5.8x42mm, it would often be used by the Colonial Navy when conducting Orbital Boarding Parties on
                    hostile ships in high orbit or entering the atmosphere, so they needed a weapon platform that was
                    compact and had the ability to spit lead downrange in low gravity or extremely confined areas such
                    as cockpits or ship corridors.</p>
            </div>
            <pre>
            Type:               Sub Machine gun
            Fire Mode:          Auto
            Ammo Type:          Light Rounds
            Manufacturer:       lastimosa Armory
            Fire Rate:          1080
            Damage per second:  198
            </pre>
        </div>
        <div class="rifle">
            <h5>Volt</h5>
            <img src="{{url_for('static', filename ='img/weopons/smg/volt.webp')}}" alt="Volt" style="object-fit: cover;
                width: 30%;
                height: auto;" />
            <div class="text">

                <p>Volt, is a fully-automatic sub machine gun introduced in Season 6.svg Season 6 that utilizes Mythic
                    Energy Ammo.svg Mythic Energy Ammo.Being a Supply Drop Weapon, it can only be found in Care
                    Packages, and cannot equip foreign ammo. It comes pre-equipped with 210 backup ammo, a Barrel
                    Stabilizer, an Extended Energy Mag, a 1x Digital Threat optic, and a Standard Stock.</p>
            </div>
            <pre>
            Type:               Sub Machine gun
            Fire Mode:          Auto
            Ammo Type:          Mythic energy Ammo
            Manufacturer:       Unknown
            Fire Rate:          720
            Damage per second:  204
            </pre>
        </div>
        <div class="rifle">
            <h5>C.A.R</h5>
            <img src="{{url_for('static', filename ='img/weopons/smg/car.webp')}}" alt="Volt" style="object-fit: cover;
                width: 30%;
                height: auto;" />
            <div class="text">
                <p>CAR, is a fully-automatic sub machine gun introduced in Season 11.svg Season 11 that utilizes both
                    Heavy Rounds and Light Rounds. The C.A.R. is compatible with twoExtended Mags, Extended Heavy Mag
                    and Extended Light Mag, although only one ofthem can be equipped at any given time. Regardless, the
                    magazine gets extended even if the ammo typecurrently in use doesn't match the Extended Mag type.
                </p>
            </div>
            <pre>
            Type:               Sub Machine gun
            Fire Mode:          Auto
            Ammo Type:          Heavy/Light Rounds
            Manufacturer:       Siwhan Industries
            Fire Rate:          930
            Damage per second:  202
            </pre>
        </div>
        <div class="rifle">
            <h5>Alternator</h5>
            <img src="{{url_for('static', filename ='img/weopons/smg/alt.webp')}}" alt="Alternator" style="object-fit: cover;
                width: 30%;
                height: 12vh;" />
            <div class="text">
                <p>Alternator, is a sub machine gun that utilizes Light Rounds.svg Light Rounds. As the name implies, it
                    fires through two alternating barrels. The Alternator A-2 is a double-barrel submachine gundeveloped
                    by Burrell Defense. The successor to the Frontier War-era Alternator A-1, a notable visualchange
                    includes a more ergonomic handguard. It is chambered with a 10mm round and fires 1000 roundsper
                    minute.</p>
            </div>
            <pre>
            Type:               Sub Machine gun
            Fire Mode:          Auto
            Ammo Type:          Light Rounds
            Manufacturer:       Burrell Defense
            Fire Rate:          600
            Damage per second:  160
            </pre>
        </div>
    </div>
    <br>
    <div class="assualt">
        <h2>Light machine guns</h2>
        <div class="rifle">
            <h5>Devotion</h5>
            <img src="{{url_for('static', filename ='img/weopons/lmg/devotion.webp')}}" alt="Alternator" style="object-fit: cover;
                width: 30%;
                height: auto;" />
            <div class="text">
                <p>The Devotion LMG, or Devotion, is a fully-automatic light machine gun that utilizes Energy Ammo.svg
                    Energy Ammo. It has a unique RPM acceleration mechanic: the longer the Devotion is fired
                    continuously, the fasterits fire rate will become, up to a cap. The Turbocharger
                    Hop-Up allows the Devotion to reach its highest fire rate more quickly.</p>
            </div>
            <pre>
            Type:               light Machine gun
            Fire Mode:          Auto
            Ammo Type:          Energy Ammo
            Manufacturer:       Unknown
            Fire Rate:          300-900
                                408-900
            Damage per second:  75-225
                                102-225
            </pre>
        </div>
        <div class="rifle">
            <h5>L - Star</h5>
            <img src="{{url_for('static', filename ='img/weopons/lmg/lstar.webp')}}" alt="Alternator" style="object-fit: cover;
                width: 30%;
                height: auto;" />
            <div class="text">
                <p>The L-STAR EMG, or L-STAR, is a fully-automatic energy machine gun introduced in Season 2.svg Season
                    2 that utilizes Energy Ammo.svg Energy Ammo. It fires red plasma orb-like projectiles. The L-STAR
                    does not have a magazine, but instead draws ammo directly from the inventory. The L-STARhas a unique
                    overheating mechanic, which triggers after 20 / 22 / 24 / 26 (Modded Loader 23 / 26 /28 / 30)
                    continuous shots; it only needs to reload if it overheats.</p>
            </div>
            <pre>
            Type:               light Machine gun
            Fire Mode:          Auto
            Ammo Type:          Energy Ammo
            Manufacturer:       Wonyeon
            Fire Rate:          600
            Damage per second:  170
            </pre>
        </div>
        <div class="rifle">
            <h5>M600 Spitfire</h5>
            <img src="{{url_for('static', filename ='img/weopons/lmg/spitfire.webp')}}" alt="Alternator" style="object-fit: cover;
                width: 30%;
                height: auto;" />
            <div class="text">
                <p>Spitfire, is a fully-automatic light machine gun that utilizes Heavy Rounds. The M600 Spitfire Mk3 is
                    a light machine gun manufactured by Siwhan Industries. Descended from the Frontier War-era Mk1 and
                    Mk2, the design and operation of the Mk3 seems to be a mix of both of its ancestors, retaining the
                    gas operated, rotating bolt locking mechanism of the Mk1 but using the light composite frame of the
                    Mk2. Improvements to initial recoil and accuracy makes it a good weapon for sustained suppressive
                    fire.</p>
            </div>
            <pre>
            Type:               light Machine gun
            Fire Mode:          Auto
            Ammo Type:          Heavy Rounds
            Manufacturer:       Siwhan Industries
            Fire Rate:          540
            Damage per second:  162
            </pre>
        </div>
        <div class="rifle">
            <h5>Rampage</h5>
            <img src="{{url_for('static', filename ='img/weopons/lmg/rampage.webp')}}" alt="Alternator" style="object-fit: cover;
                width: 30%;
                height: auto;" />
            <div class="text">
                <p>Rampage, is a fully-automatic light machine gun introduced in Season 10.svg Season 10 that utilizes
                    Heavy Rounds.
                    The Rampage has a unique Revved Up Revved Up mechanic that consumes a Thermite
                    Grenade. It takes 4 seconds to consume the Thermite, increasing the fire rate of the Rampage by 30%
                    for 90 seconds, even though each shot decreases the remaining charge time by 2.5 seconds. In this
                    state, the Rampage can also break doors in two shots, or one if the door was already damaged.</p>
            </div>
            <pre>
            Type:               light Machine gun
            Fire Mode:          Auto
            Ammo Type:          Heavy Rounds
            Manufacturer:       Rampart
            Fire Rate:          300
                                390 (Thermite)
            Damage per second:  130
                                169 (Thermite)
            </pre>
        </div>
    </div>
    <br>

    <div class="assualt">
        <h2>Marksman</h2>
        <div class="rifle">
            <h5>G7 Scout</h5>
            <img src="{{url_for('static', filename ='img/weopons/marks/g7.webp')}}" alt="Alternator" style="object-fit: cover;
                width: 30%;
                height: auto;" />
            <div class="text">
                <p>The G7 Scout is a semi-automatic battle rifle that utilizes Mythic Light Rounds.svg Mythic Light
                    Rounds. It may be switched between semi-automatic and 2-round burst fire modes. Being a Supply Drop
                    Weapon, it can only be found in Care Packages, and cannot be equipped with foreign ammo. It comes
                    pre-equipped with 140 backup ammo, a Barrel Stabilizer.svg Barrel Stabilizer, an Extended Light
                    Mag.svg Extended Light Mag, a 2x-4x Variable AOG.svg 2x-4x Variable AOG optic, and a Sniper
                    Stock.svg Sniper Stock.</p>
            </div>
            <pre>
            Type:               Marksman
            Fire Mode:          Single
                                Burst
            Ammo Type:          Mythic Light Rounds
            Manufacturer:       Lastimosa Armory
            Fire Rate:          240
                                253 (Burst)
            Damage per second:  144
                                152 (Burst)
            </pre>
        </div>
        <div class="rifle">
            <h5>30 30 Repeater</h5>
            <img src="{{url_for('static', filename ='img/weopons/marks/3030.webp')}}" alt="Alternator" style="object-fit: cover;
                width: 30%;
                height: auto;" />
            <div class="text">
                <p>The 30-30 Repeater, 30-30, or Repeater, is a lever action repeating rifle introduced in Season 8.svg
                    Season 8 that utilizes Heavy Rounds.svg Heavy Rounds.The 30-30 has a unique charge mechanic allowing
                    the weapon to do up to 36% more damage by aiming down the sights for longer without firing. It can
                    also be simply fired without charging at a higher fire rate. It can also be enhanced with the
                    Shatter Caps.svg Shatter Caps Hop-Up, which allows the weapon to act like a shotgun when hipfiring.
                </p>
            </div>
            <pre>
            Type:               Marksman
            Fire Mode:          Single
            Ammo Type:          Heavy Rounds
            Manufacturer:       Lastimosa Armory
            Fire Rate:          139
            Damage per second:  97
                                144
            </pre>
        </div>
        <div class="rifle">
            <h5>Triple Take</h5>
            <img src="{{url_for('static', filename ='img/weopons/marks/tripple.webp')}}" alt="Alternator" style="object-fit: cover;
                width: 30%;
                height: auto;" />
            <div class="text">
                <p>The Triple Take is a triple-barreled semi-automatic marksman rifle that utilizes
                    Energy Ammo. It fires 3 projectiles, one in the middle and two to the sides, consuming 3 ammo each
                    shot. When Choke Active Choke is active, the spread of the pellets is greatly reduced while
                    aiming down sights. The Triple Take can be enhanced with the Kinetic Feeder
                    Hop-Up, which automatically adds 1 round into the magazine every second and speeds up the choke
                    function while aiming down sights as long as the wielder is sliding.
                </p>
            </div>
            <pre>
            Type:               Marksman
            Fire Mode:          Single
            Ammo Type:          Energy Ammo
            Manufacturer:       Burrell Defense
            Fire Rate:          72
            Damage per second:  76
            </pre>
        </div>
        <div class="rifle">
            <h5>Bocek Compound Bow</h5>
            <img src="{{url_for('static', filename ='img/weopons/marks/bow.webp')}}" alt="Alternator" style="object-fit: cover;
                width: 30%;
                height: auto;" />
            <div class="text">
                <p>Bow, is a compound bow introduced in Season 9.svg Season 9 that utilizes Arrows.svg Arrows. Unlike
                    other weapons, the Bocek fires an arrow when the Fire button is released. Holding the button for
                    longer before firing will increase its damage and velocity. Pressing Reload while charging an arrow
                    will un-nock it without firing.
                </p>
            </div>
            <pre>
            Type:               Marksman
            Fire Mode:          Single
            Ammo Type:          Arrows
            Manufacturer:       Unknown
            Fire Rate:          107-180
            Damage per second:  75-107
            </pre>
        </div>
    </div>
    <br>
    <div class="assualt">
        <h2>Sniper</h2>
        <div class="rifle">
            <h5>Longbow DMR</h5>
            <img src="{{url_for('static', filename ='img/weopons/sniper/longbow.webp')}}" alt="Alternator" style="object-fit: cover;
                width: 30%;
                height: auto;" />
            <div class="text">
                <p>Longbow, is a semi-automatic designated marksman rifle that utilizes Sniper Ammo. The D-101 Longbow
                    DMR (Designated Marksman Rifle) is a semi-automatic sniper rifle made by Lastimosa Armory. Models
                    from the Frontier War were variants of the then-current R-201 Assault Rifle.
                </p>
            </div>
            <pre>
            Type:               Sniper
            Fire Mode:          Single
            Ammo Type:          Sniper Ammo
            Manufacturer:       Wonyeon
            Fire Rate:          78
            Damage per second:  72
            </pre>
        </div>
        <div class="rifle">
            <h5>Krabor .50 Cal</h5>
            <img src="{{url_for('static', filename ='img/weopons/sniper/kraber.webp')}}" alt="Alternator" style="object-fit: cover;
                width: 30%;
                height: auto;" />
            <div class="text">
                <p>The Kraber .50-Cal Sniper, or Kraber, is a bolt-action sniper rifle that utilizes Mythic Sniper Ammo.
                    Being a Supply Drop Weapon, it can only be found in Care Packages, and cannot be equipped with
                    foreign ammo. It comes pre-equipped with 8 backup ammo and a 6x-10x Variable Sniper scope.
                </p>
            </div>
            <pre>
            Type:               Sniper
            Fire Mode:          Single
            Ammo Type:          Mythic Sniper Ammo
            Manufacturer:       lastimosa Armory
            Fire Rate:          25
            Damage per second:  58
            </pre>
        </div>
        <div class="rifle">
            <h5>Sentinel</h5>
            <img src="{{url_for('static', filename ='img/weopons/sniper/sentinel.webp')}}" alt="Alternator" style="object-fit: cover;
                width: 30%;
                height: auto;" />
            <div class="text">
                <p>The Sentinel is a bolt-action sniper rifle introduced in Season 4 that utilizes Sniper Ammo. It has a
                    unique Sniper Ammo Amped.png Amped mechanic: two (one with a BodyShield.svg Body Shield) Shield
                    Cells charge up the Sentinel increasing its damage by 25% for 120 seconds, and each shot will
                    shorten the charge by 15 seconds. Charging the Sentinel takes 5 seconds. The Sentinel can also be
                    enhanced with the Deadeye's Tempo Hop-Up, which increases the weapon's rate of fire when timing the
                    shots correctly.
                </p>
            </div>
            <pre>
            Type:               Sniper
            Fire Mode:          Single
            Ammo Type:          Mythic Sniper Ammo
            Manufacturer:       Paradinha Arsenal
            Fire Rate:          31
            Damage per second:  36
            </pre>
        </div>
    </div>
    <br>
    <div class="assualt">
        <h2>Shotguns</h2>
        <div class="rifle">
            <h5>EVA - 8 Auto</h5>
            <img src="{{url_for('static', filename ='img/weopons/shotguns/eva.webp')}}" alt="Alternator" style="object-fit: cover;
                width: 30%;
                height: auto;" />
            <div class="text">
                <p>EVA-8, is a fully-automatic shotgun that utilizes Shotgun Shells. It fires 9
                    pellets in the shape of the number 8. The EVA-8 Auto is a pump-action/automatic shotgun from the
                    Frontier War designed for extra-vehicular activity and to operate in zero gravity environments.
                    Using 12 Gauge 00 Buckshot cartridges, this weapon was developed from the ground up by Wonyeon
                    Interstellar to provide the IMC Orbital Guard Raiding Parties (aka Shipwreckers) with devastating
                    CQB firepower.
                </p>
            </div>
            <pre>
            Type:               Shotgun
            Fire Mode:          Auto
            Ammo Type:          Shotgun Shells
            Manufacturer:       Wonyeon
            Fire Rate:          120
            Damage per second:  108
            </pre>
        </div>
        <div class="rifle">
            <h5>Mastiff</h5>
            <img src="{{url_for('static', filename ='img/weopons/shotguns/mastiff.webp')}}" alt="Alternator" style="object-fit: cover;
                width: 30%;
                height: auto;" />
            <div class="text">
                <p>Mastiff, is a semi-automatic shotgun that utilizes Mythic Shotgun Shells.It fires 8 pellets in the
                    shape of a horizontal line, which decreases in width while aiming down the sights, reducing the
                    spread and thus increasing accuracy. Being a Supply Drop Weapon, it can only be found in Care
                    Packages, and cannot equip foreign ammo. It comes pre-equipped with 28 backup ammo, a Shotgun Bolt,
                    a 1x Digital Threat optic and Dual Shell.
                </p>
            </div>
            <pre>
            Type:               Shotgun
            Fire Mode:          Single
            Ammo Type:          Mythic Shotgun Shells
            Manufacturer:       lastimosa Armory
            Fire Rate:          72
            Damage per second:  134
            </pre>
        </div>
        <div class="rifle">
            <h5>Peacekeeper</h5>
            <img src="{{url_for('static', filename ='img/weopons/shotguns/peacekeeper.webp')}}" alt="Alternator" style="object-fit: cover;
                width: 30%;
                height: auto;" />
            <div class="text">
                <p>MThe Peacekeeper is a lever-action energy shotgun that utilizes Shotgun Shells. It
                    fires 11 pellets in the shape of a star, with one pellet in the middle and two on each outer line of
                    the star shape. When Choke is active, the spread of the pellets is greatly
                    reduced while aiming down sights.
                    The Peacekeeper can be enhanced with the Kinetic Feeder Hop-Up, which
                    automatically adds 1 round into the magazine every second and speeds up the choke function while
                    aiming down sights as long as the wielder is sliding.
                </p>
            </div>
            <pre>
            Type:               Shotgun
            Fire Mode:          Single
            Ammo Type:          Mythic Shotgun Shells
            Manufacturer:       lastimosa Armory
            Fire Rate:          72
            Damage per second:  134
            </pre>
        </div>
    </div>
    <br>
    <div class="assualt">
        <h2>Pistols</h2>
        <div class="rifle">
            <h5>RE - 45</h5>
            <img src="{{url_for('static', filename ='img/weopons/pistols/re45.webp')}}" alt="Alternator" style="object-fit: cover;
            width: 30%;
            height: auto;" />
            <div class="text">
                <p>RE-45, is a fully-automatic pistol that utilizes Light Rounds. The RE-45 can be
                    enhanced with the Hammerpoint Rounds Hop-Up, which increases
                    the damage dealt to unshielded targets by 35%.
                </p>
            </div>
            <pre>
            Type:               Pistol
            Fire Mode:          Auto
            Ammo Type:          Light Rounds
            Manufacturer:       Paradinha Arsenal
            Fire Rate:          780
            Damage per second:  156
            </pre>
        </div>
        <div class="rifle">
            <h5>P2020</h5>
            <img src="{{url_for('static', filename ='img/weopons/pistols/p2020.webp')}}" alt="Alternator" style="object-fit: cover;
            width: 30%;
            height: auto;" />
            <div class="text">
                <p>The P2020 is a semi-automatic pistol that utilizes Light Rounds. The P2020 can be
                    enhanced with the Hammerpoint Hammerpoint Rounds Hop-Up, which increases the damage dealt
                    to unshielded targets by 50%.
                </p>
            </div>
            <pre>
            Type:               Pistol
            Fire Mode:          Auto
            Ammo Type:          Light Rounds
            Manufacturer:       lastimosa Armory
            Fire Rate:          420
            Damage per second:  126
            </pre>
        </div>
        <div class="rifle">
            <h5>Wingman</h5>
            <img src="{{url_for('static', filename ='img/weopons/pistols/wingman.webp')}}" alt="Alternator" style="object-fit: cover;
            width: 30%;
            height: auto;" />
            <div class="text">
                <p>The Wingman is a semi-automatic revolver that utilizes Heavy Rounds. The Wingman can be enhanced with
                    the Boosted Loader Hop-Up, which reduces the weapon's reload time if a reload is performed while the
                    mag is close to being fully depleted, as well as adding 2 more rounds after doing so.
                </p>
            </div>
            <pre>
            Type:               Pistol
            Fire Mode:          Auto
            Ammo Type:          Heavy Rounds
            Manufacturer:       Brockhaurd Manufacturing
            Fire Rate:          156
            Damage per second:  117
            </pre>
        </div>
    </div>
    <pre>

        <div class="tothetop">
            <a href="#tothetop">Back to top</a></div>

</pre>
</body>
{% endblock %}